body {
    display: flex;
    justify-content: space-between;
  }
  
  .sidenav {
    width: 25%;
    height: 100vh;
    background-color: #0e63e2;
}

  
  .dashboard {
    width: 75%;
    background-color: antiquewhite;
    padding-left: 10px;
    margin-left: 10px;
  }