block variables
  - var pageTitle = title || 'InventoryXpert'

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="shortcut icon", href="/favicon.ico")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/css/select2.min.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    style.
      
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-rc.0/js/select2.min.js")
    title= pageTitle + " | InventoryXpert"
    link(rel="stylesheet", href="../reports.css")

  body
    div#root
      block layout-content
