<form name="registration" action="/people/customers" method="post">
    <h1>Add New Customer</h1>
    <label for="fname">First Name:</label><br>
    <input id="fname" type="text" name="fname" placeholder="Client's First Name" required><br>
    <label for="lname">Last Name:</label><br>
    <input id="lname" type="text" name="lname" placeholder="Client's Last Name" required><br>
    <label for="shop">Company / Shop Name:</label><br>
    <input id="shop" type="text" name="shop" placeholder="Client's shop name" required><br>
    <label for="phone">Phone:</label><br>
    <input id="phone" type="text" name="phone" placeholder="Client's Phone Number" required><br>
    <label for="address">Address:</label><br>
    <input id="address" type="text" name="address" placeholder="Client's Address" required><br>
    <label for="tin">TIN:</label><br>
    <input id="tin" type="number" name="tin" placeholder="Client's tin" required><br>
    <label for="sr">Sales Representative:</label><br>
    <input id="sr" type="text" name="sr" placeholder="Client's Sales Rep" required><br>
    <input type="submit" value='Submit'>
  </form>
  