doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Add Sales Rep 
  style.
    /* Form Styles */
    form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 2px solid #ddd; /* Increased border width */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, sans-serif;
    }
    label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    }
    input[type="text"],
    input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333;
    box-sizing: border-box;
    }
    input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: Arial, sans-serif;
    }
    input[type="submit"]:hover {
    background-color: #555;
    }
    input::placeholder {
    color: #999;
    font-family: Arial, sans-serif;
    }
    body {
    color: #333;
    font-family: Arial, sans-serif;
    background-color: #fff;
    }
form(name='registration' action='/people/salesman' onsubmit='return validateForm()' method='post')
  h1 Add New Sales Representative
  label(for='fname') First Name:
  br
  input#fname(type='text' name='fname' placeholder="S.R'sFirst Name" required='')
  br
  label(for='lname') Last Name:
  br
  input#lname(type='text' name='lname' placeholder="S.R'sLast Name" required='')
  br
  label(for='phone') Phone:
  br
  input#phone(type='text' name='phone' placeholder="S.R's Phone Number" required='')
  br
  label(for='address') Address:
  br
  input#address(type='text' name='address' placeholder="S.R's Address" required='')
  br
  label(for='tin') NIN:
  br
  input#nin(type='text' name='nin' placeholder="S.R's nin" required='')
  br
  label(for='enroll') Enrollment Date:
  br
  input#enroll(type='date' name='enroll' required='')
  br
  input(type='submit' value='Submit')
