.landing-page {
  background: url('/assets/bg.png') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  padding: 20px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0; /* Remove border radius */
}

/* Apply basic styles to the landing-page container */
.landing-page {
  background-color: #f7f7f7;
  text-align: center;
  padding: 40px;
}

/* Style the heading */
.landing-page h1 {
  text-align: center;
  
  font-size: 90px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  
  
}

.h1{
  height: 150px;
  background-color: blanchedalmond;
}
.p{
  background-color: whitesmoke;
  height: 50px;
}
/* Style the paragraph text */
.landing-page p {
  margin-top: 50px;
  font-size: 26px;
  color: #000000;
  margin-bottom: 30px;
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Style the "Get Started" button/link */
.landing-page a {
  margin-top: 80px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.landing-page a:hover {
  background-color: #0056b3;
}


.landing-page a {
  display: inline-block;
  padding: 10px 20px;
  background: #007BFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  transition: background 0.3s ease;
}

.landing-page a:hover {
  background: #0056b3;
}
