<div class="your-class">
    <!-- Your content here -->
    <div id="root">
      <div class="View WelcomeView"></div>
    </div>
    <h1 class="Banner">Inventory Xpert</h1>
    <div class="Message">
      <div class="Title">
        <h3>Making the best</h3>
        <h1>Decisions As Entrepreneurs</h1>
      </div><span class="Details">Access the Most User-Friendly inventory activities tracker</span>
    </div>
    <div class="NavButtons"><a href="/signup">
        <div class="NavButton">Register Here</div></a></div>


</div>
  

