  <a routerLink="/dashboard"><<=Back to home</a>
  <body>
    <mat-card class="content">
      <mat-card-title>People</mat-card-title>
      <mat-nav-list class="people-links">
        <a mat-list-item routerLink="/customer">
          <i class="material-icons customer-icon">person</i>
          <span>Customers</span>
        </a>
      
        <a mat-list-item routerLink="/salesman">
          <i class="material-icons employee-icon">work</i>
          <span>Employees</span>
        </a>
      
        <a mat-list-item routerLink="/suppliers">
          <i class="material-icons supplier-icon">local_shipping</i>
          <span>Suppliers</span>
        </a>
      </mat-nav-list>
    </mat-card>
  
    <!-- <mat-card class="views">
   
      <router-outlet></router-outlet>
    </mat-card> -->
  </body>
  
