<mat-card class="content">
    <mat-card-title>People</mat-card-title>
    <mat-nav-list class="people-links">
      <a mat-list-item class="people-link" href="/people/customer_list">
        <mat-icon matListIcon>person</mat-icon>
        <span>Customers</span>
      </a>
      <a mat-list-item class="people-link" href="/people/salesman_list">
        <mat-icon matListIcon>group</mat-icon>
        <span>Employees</span>
      </a>
      <a mat-list-item class="people-link" href="/people/supplier_list">
        <mat-icon matListIcon>local_shipping</mat-icon>
        <span>Suppliers</span>
      </a>
    </mat-nav-list>
  </mat-card>
  