/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
.customer-icon {
    color: red;
}

.employee-icon {
    color: blue;
}

.supplier-icon {
    color: green;
}

.customer-icon {
    font-size: 50px;
}

.employee-icon {
    font-size: 50px;
}

.supplier-icon {
    font-size: 50px;
}

/*componttnt div*/

body {
    display: flex;
    justify-content: space-between;
  }
  
  .content {
    width: 25%;
    height: 85vh;
    margin-top:45px;
    margin-left: 20px;
}

  
  .views {
    width: 75%;
    background-color: antiquewhite;
    padding-left: 10px;
    margin-left: 10px;
    margin-top:45px;
  }