<!-- <h1>Customers List</h1>
<table>
  <thead>
    <tr>
      <th>Update</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Shop</th>
      <th>Phone</th>
      <th>TIN</th>
      <th>SR</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="customers; else noRecords">
      <tr *ngFor="let customer of customers" [attr.data-customer-id]="customer._id">
        <td class="actions">
          <button (click)="updatecustomer()">
            <i class="fas fa-edit"></i>
          </button>
        </td>
        <td>{{customer.fname}}</td>
        <td>{{customer.lname}}</td>
        <td>{{customer.shop}}</td>
        <td>{{customer.phone}}</td>
        <td>{{customer.tin}}</td>
        <td>{{customer.sr}}</td>
        <td class="actions">
          <button (click)="deletecustomer(customer._id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </ng-container>

    <ng-template #noRecords><p>No records</p></ng-template>

  </tbody>
</table>

<div class="buttons">
  <a routerLink="/people/customers">Add Customer</a>
  <a routerLink="/welcome">Back to Home</a>
</div>
 -->
