extends layout.pug

block layout-content
    h1 Add Receipt
    form(action="/commerce/addreciept" method="POST")
      .row
        .column
          label(for='customer') Customer Name
          select#customer.select2(name='customer' style='width: 100%')

        .column
          label(for='receiptDate') Receipt Date
          input#receiptDate(type='date' name='receiptDate')
        .column
          label(for='invoiceNumber') Invoice Number
          input#invoiceNumber(type='text' name='invoiceNumber')

      .row
        .column
          label(for='address') Address
          input#address(type='text' name='address' readonly='')
        .column
          label(for='dueDate') Due Date
          input#dueDate(type='date' name='dueDate')
        .column
          label(for='salesman') Salesman
          input#salesman(type='text' name='salesman' readonly='')
      .row
        .column
          label(for='terms') Terms
          input#terms(type='text' name='terms')


      .row
        table
          thead
            tr
              th Product/Service
              th Description
              th Quantity
              th Rate
              th Amount
              th
              th
          tbody
            tr
              td
                input(type='text' name='product')
              td
                input(type='text' name='description')
              td
                input(type='number' name='quantity')
              td
                input(type='number' name='rate')
              td
                input(type='number' name='amount')
              td
                i.fa.fa-plus
              td
                i.fa.fa-trash
      button(type="submit") Submit

    script.
      const customerSelect = document.querySelector('#customer');
      const addressInput = document.querySelector('#address');
      const salesmanInput = document.querySelector('#salesman');
      
      // Initialize Select2 input field
      $(customerSelect).select2({
        placeholder: 'Select a customer...',
        ajax: {
          url: '/customers/search',
          dataType: 'json',
          delay: 250,
          data: params => ({ q: params.term }),
          processResults: data => ({
            results: data.map(customer => ({
              id: customer._id,
              text: `${customer.fname} ${customer.lname}`,
              shop: customer.shop,
              sr: customer.sr
            }))
          }),
          cache: true
        }
      });
      
      // Handle changes to Select2 input field value
      $(customerSelect).on('change', () => {
        const selectedOption = $(customerSelect).select2('data')[0];
        
        if (selectedOption) {
          addressInput.value = selectedOption.shop;
          salesmanInput.value = selectedOption.sr;
        }
      });