doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
h3 Report Group 2 - Report 1
p This is the content for Report 1 in Report Group 2.
h3 Report Group 2 - Report 2
p This is the content for Report 2 in Report Group 2.
h3 Report Group 2 - Report 3
p This is the content for Report 3 in Report Group 2.
