doctype html
head
  title Inventory Reports | InventoryXpert
  style.
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    }
    h1 {
    text-align: center;
    color: #006400;
    margin-bottom: 20px;
    }

.container
  h1 Inventory Reports
  ul
    li
      a(href='../reports/inventory/inventory_summary') Inventory Summary
    li
      a(href='../reports/inventory/inventory_valuation') Inventory Valuation
    li
      a(href='../reports/inventory/purchase_history') Purchase History
    li
      a(href='../reports/inventory/out_of_stock') Out-of-Stock Items
    li
      a(href='../reports/inventory/return_refund_analysis') Return and Refund Analysis
