doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Inventory Management System
  style.
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    }
    header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    }
    main {
    padding: 1rem;
    }
    form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    }
    label {
    margin-bottom: 0.5rem;
    }
    input[type="date"],
    input[type="number"],
    input[type="text"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    }
    button {
    padding: 0.75rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    }
    th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
    }
    th {
    background-color: #f2f2f2;
    }
  script.
    function calculateTotalCost() {
      const quantity = parseFloat(document.querySelector('input[name="quantity"]').value);
      const unitPrice = parseFloat(document.querySelector('input[name="unitPrice"]').value);
      const totalCost = quantity * unitPrice;
      document.querySelector('input[name="totalCost"]').value = totalCost.toFixed(2);
    }
    document.addEventListener("DOMContentLoaded", function () {
      const quantityInput = document.querySelector('input[name="quantity"]');
      const unitPriceInput = document.querySelector('input[name="unitPrice"]');

      quantityInput.addEventListener("input", calculateTotalCost);
      unitPriceInput.addEventListener("input", calculateTotalCost);
    })
header
  h1 ADD PURCHASES AND EXPENSES
  a.button(href='/welcome') Return to Dashboard

main  

  form#purchaseForm(name='purchases' action='/report/purchases/purchases' onsubmit='return validateForm()' method='post')
    label(for='purchaseDate') Purchase Date
    input(type='date' name='purchaseDate' required='')
    label(for='product') Product
    // Replace this with a dropdown/select with product options, if available.
    input(type='text' name='product' required='')
    label(for='quantity') Quantity
    input(type='number' name='quantity' min='1' required='')
    label(for='unitPrice') Unit Price
    input(type='number' name='unitPrice' min='0.01' step='0.01' required='')
    label(for='totalCost') Total Cost
    input(type='number' name='totalCost' min='0.01' step='0.01' required='' )
    button(type='submit') Add Purchase

